.git
.gitignore
**/.DS_Store
backend/vendor
backend/node_modules
frontend/node_modules
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*
backend/.env
backend/.env.backup
**/.phpunit.result.cache
npm-debug.log*
yarn-error.log
frontend/dist
